.idea
/DDR/nbproject/private/
*.pyc

#latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.mtc1
*.out
*.synctex.gz

dynamips_*_log.txt
c7200_*_lock
c7200_*_log*
